
@{
    ViewBag.Title = "Deck Page";
}

<img src="~/Images/home.jpg" />

<div class="row">
    <div class="col-md-6">
        <h2>Decks Registrados</h2>
        <p>Listado de personas registradas como jugadores de Yu-Gi-Oh!.</p>
        <p><a class="btn btn-default" href="http://localhost:5181/Deck/Index">Mostrar &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Arquetipos</h2>
        <p>Lista de todos los arquetipos creados hasta la fecha.</p>
        <p><a class="btn btn-default" href="http://localhost:5181/Archetype/Index">Mostrar &raquo;</a></p>
    </div>
</div>
