@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<p>Yu-Gi-Oh! es un juego de cartas coleccionables de origen japonés
basado en el juego ficticio de Duelo de Monstruos. El juego de cartas ha alcanzado
tal popularidad que se planifican eventos internacionales en los que jugadores
de cualquier edad y nivel pueden competir juntos en torneos y hacer
amigos nuevos, ver cartas nuevas y alardear de nuevas estrategias. Hay eventos
de Yu-Gi-Oh! para cualquier clase de Duelista, desde pequeños torneos hasta
eventos masivos internacionales donde los mejores Duelistas del mundo juegan
para conseguir grandes premios</p>
