@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-6">
        <h3>Equipo #2</h3>

        <address>
            Facutad de Matemáticas y Computación<br />
            Universidad de La Habana<br />
            C-212
        </address>

        <h4>Integrantes:</h4>
        <address>
            <strong>Laura Brito Guerra:</strong>   <a href="mailto:l.brito@estudiantes.matcom.uh.cu">l.brito@estudiantes.matcom.uh.cu</a><br />
            <strong>Sheyla Cruz Castro:</strong>   <a href="mailto:sheyla.cruz@estudiantes.matcom.uh.cu">sheyla.cruz@estudiantes.matcom.uh.cu</a><br />
            <strong>Ariel A. Huerta Martín:</strong>   <a href="mailto:ariel.huerta@estudiantes.matcom.uh.cu">ariel.huerta@estudiantes.matcom.uh.cu</a><br />
        </address>
    </div>
    <div class="col-md-6">
        
    </div>

</div>