@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-8">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1>Queries</h1>
        </div>
    </div>      
    <img src="~/Images/banner_duellinks.jpg"/>
    <p class="lead">Aqui se pueden realizar las consultas a la base de datos</p>
       <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
              <p><a href="http://localhost:5181/Queries/Index" class="btn btn-primary btn-lg">Mostrar &raquo;</a></p>
          </div>
       </div>     
 </div>

<div class="row">
    <div class="col-md-4">
        <h2>Jugadores</h2>
        <p>Listado de personas registradas como jugadores del juego de cartas coleccionables Yu-Gi-Oh!.</p>
        <p><a class="btn btn-default" href="http://localhost:5181/Player/Index">Mostrar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Torneos</h2>
        <p>Todo lo relacionado con Torneos.</p>
        <p><a class="btn btn-default" href="http://localhost:5181/Contest/Index">Mostrar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Decks</h2>
        <p>Todo lo relacionado con decks registrados y su arquetipos</p>
        <p><a class="btn btn-default" href="http://localhost:5181/Deck/AnotherIndex">Mostrar &raquo;</a></p>
    </div>
</div>